<h1>Available currencies</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="filter" (keyup)="doFilter($event.target.value, filterType)" [ngModelOptions]="{standalone: true}" >
      <select class="form-control col-sm-2" (change)="filterType = $event.target.value; doFilter(filter, $event.target.value)">
        <option *ngFor="let type of filterTypes" [value]="type">
            {{type}}
        </option>
      </select>
    </div>
  </div>
</div>
<ng-template #loading>
  <h4>Getting currencies...</h4>
</ng-template>
<div *ngIf="pageContent; else loading">
  <div *ngIf="pageContent.data.length == 0">
    <h4>No results found matching your criteria.</h4>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 currency-item" (click)="getCurrencyDetails(c.id)"  *ngFor="let c of pageContent.data">
        <div class="d-inline">
          ID:&nbsp;{{c.id}}
        </div>
        <div class="d-inline">
          Type:&nbsp;{{c.type}}
        </div>
        <div class="d-inline">
          Symbol:&nbsp;{{c.symbol}}
        </div>
      </div>
    </div>
  </div>
  <div class="row pagination-container" >
      <div class="col-sm-1">
        <select class="form-control" (change)="pageSize = $event.target.value; doFilter(filter, filterType);">
            <option value=10>10</option>
            <option value=100>100</option>
            <option value=200>200</option>
          </select>
      </div>
      <div class="col-sm-11">  
        <ngb-pagination [collectionSize]="pageContent.total" [(page)]="currentPage" [maxSize]="5" [rotate]="true" [pageSize]="pageSize" (pageChange)="doFilter(filter, filterType);">
        </ngb-pagination>
      </div>
    </div>
</div>

